<section ng-controller='UsersController as users'>
<form ng-submit="loginUser()" id ="newUser">
<div id="signup-form">
  <div>
    <label for="loginUser-username">Username</label>
    <input type="text" id="userLogin-username" ng-model="users.userLogin.username" placeholder="Username">
  </div>
  <div>
    <label for="newUser-email">Email</label>
    <input type="text" id="userLogin-email" ng-model="users.userLogin.email" placeholder="Email">
  </div>
  <div>
    <label for="newUser-password">Password</label>
    <input type="password" id="userLogin-password" ng-model="users.userLogin.password" placeholder="Password">
  </div>
  <div>
   <input type="submit" value="LOGIN" id="buttons">
  </div>
</div>
</form>
</section>
